<!DOCTYPE html>
<html lang="en">
<head style="padding: 0; margin: 0;">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user-Page</title>
    <link rel="stylesheet" type="text/css" href="../css/user.css" />
</head>
<body style="padding: 0; margin: 0;">
    <header><h2 id="title">MongoDB - Aggregate Practice</h2></header>
    <form id="logout_action" action="/basic/logout_logic" method="post"></form>
    <div id="logout_form"><a onclick="document.getElementById('logout_action').submit();">로그아웃</a><br></div>
    
    <form id="go_to_index" action="/basic/index" method="get"></form>
    <a onclick="document.getElementById('go_to_index').submit();">홈으로</a>
</body>
</html>