<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index-Page</title>
    <link rel="stylesheet" type="text/css" href="../css/index.css" />
</head>
<body>
    <h2 id="title">MYSQL TABLE JOIN PRACTICE</h2>
    <div id="login_form">
        <a id="login_btn" href="#">로그인</a> | <a id="reg_btn" href="/basic/reg">회원가입</a>
    </div>
</body>
</html>