<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INDEX-Page</title>
    <link rel="stylesheet" type="text/css" href="../css/index.css" />
</head>
<body>
    <h2 id="title">MongoDB - Aggregate Practice</h2>
    <div id="login_form">
        <a id="btn" href="/basic/login">로그인</a> | <a id="btn" href="/basic/reg" >회원가입</a><br>
    </div>
</body>
</html>