<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login-Page</title>
    <link rel="stylesheet" type="text/css" href="../css/login.css" />
</head>
<body>
    <h2 id="title">MYSQL TABLE JOIN PRACTICE</h2>
    <form action="" method="post">    <!-- action 적기-->
        <input id="id" name="id" placeholder="아이디" autofocus><br>
        <input id="pw" name="pw" placeholder="비밀번호"><br>
        <button type="submit">제출</button>
    </form>
</body>
</html>