<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reg-Page</title>
    <link rel="stylesheet" type="text/css" href="../css/reg.css" />
</head>
<body>
    <h2 id="title">MYSQL TABLE JOIN PRACTICE</h2>
    <form action="/basic/reg_logic" method="post">
        <input id="id" placeholder="아이디" type="text" name="id" autofocus><br>
        <input id="pw" placeholder="비밀번호" type="password" name="pw"><br>
        <input id="name" placeholder="닉네임" type="text" name="name"><br>
        <input id="email" placeholder="이메일" type="email" name="email"><br>
        <input id="phone_number" placeholder="전화번호" type="tel" name="phone_number"><br>
        <input id="address" placeholder="주소" name="address"><br>
        <button type="submit">제출</button>
    </form>
</body>
</html>