#title {
    text-align: center;
}

#logout_form {
    text-align: right;
}

a:hover {
    cursor: pointer;
}

#pagination_form {
    text-align: center;
}

#page {
    text-decoration: none;
    color: black;
}