#title {
    text-align: center;
}

a:hover {
    cursor: pointer;
}

#logout_form {
    text-align: right;
}

li {
    list-style: none;
}

nav {
    vertical-align: top;
    display: inline-block;
    width: 10%;
    height: 100%;
}

.subtitle {
    margin-bottom: 3px;
}

section{
    display: inline-block;
}