#title {
    text-align: center;
}

a:hover {
    cursor: pointer;
}

#logout_form {
    text-align: right;
}

li {
    list-style: none;
}

nav {
    vertical-align: top;
    background-color: #E2E2E2;
    display: inline-block;
    width: 8%;
    height: 100%;
}

section{
    display: inline-block;
}